<% provide(:title, 'About') %>
<h2>popATL is a local Tactical Urbanism group.</h2>
<h4>Partners include:</h4>
<ul>
  <li><a href="https://www.atlantabike.org/">Atlanta Bicycle Coalition</a></li>
  <li><a href="https://www.atlantastreetsaliv.org/">Atlanta Streets Alive</a></li>
  <li><a href="http://altaplanning.org/">Atla Planning</a></li>
  <li><a href="http://georgiaconservancy.org/">The Georgia Conservancy</a></li>
  <li><a href="http://www.atlantamagazine.com/news-culture-articles/becky-katz-wants-to-make-atlanta-more-bicycle-friendly-shes-in-for-an-uphill-climb/">The City of Atlanta Bike Czar</a></li>
  <li><a href="http://atlantaregional.com/">The Atlanta Regional Commission</a></li>
  <li><a href="www.sizemoregroup.com">The Sizemore Group</a></li>
</ul>
