
<% provide(:title, 'About') %>
<h2>popATL is a local Tactical Urbanism group</h2>
<br>
<body>
<h4>Partners include:</h4>
<ul>
  <li><a href="http://www.atlantabike.org/" target="_blank">Atlanta Bicycle Coalition</a></li>
  <li><a href="http://www.atlantastreetsalive.com/" target="_blank">Atlanta Streets Alive</a></li>
  <li><a href="http://altaplanning.com/" target="_blank">Atla Planning</a></li>
  <li><a href="http://georgiaconservancy.org/" target="_blank">The Georgia Conservancy</a></li>
  <li><a href="http://www.atlantamagazine.com/news-culture-articles/becky-katz-wants-to-make-atlanta-more-bicycle-friendly-shes-in-for-an-uphill-climb/" target="_blank">The City of Atlanta Bike Czar</a></li>
  <li><a href="http://atlantaregional.com/" target="_blank">The Atlanta Regional Commission</a></li>
  <li><a href="www.sizemoregroup.com" target="_blank">The Sizemore Group</a></li>
</ul>
<br>
<h4> Contact Us</h4>
<p>
<a href="mailto: lcaceda11@gmail.com" class="btn btn-info btn-md">
          <span class="glyphicon glyphicon-envelope"></span> E-mail us
        </a>
</p>
<h4>What could we make tomorrow look like?</h4>
<p><a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/lsc_11/tactical-urbanism/"></a></p>
</body>

<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

