<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <h1><b>Welcome to popATL</b></h1>
  <h3>We're a tactical urbanism group focused on activating </h3>
  <h2>Atlanta </h2>
  <h3> with quick low cost + high impact projects</h3>
  </br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %>
</div>
