<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <h1>Welcome to popATL</h1>
  <h3>popATL is a tactical urbanism group focused on activating atlanta with quick low cost + high impact projects.</h3>
  <h5>Sign up to share some of your ideas and help guide future projects</h5>
  <br/>
</div>
