<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>A simple map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
<style>
    body { margin:0; padding:0; }
    #map { position: absolute; margin: 45px 0px; top:0; bottom:0; left:0; width:100%;
    }
</style>
</head>

<body>
<div id=map>
<iframe width='100%' height='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v4/atlregional.00a75mfa/attribution,zoompan,zoomwheel.html?access_token=pk.eyJ1IjoiYXRscmVnaW9uYWwiLCJhIjoiQmZ6d2tyMCJ9.oENm3NSf--qHrimdm9Vvdw'></iframe>
</div>
</body>
</html>
