<div class="page-header">

  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @current_user.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @current_user.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= @current_user.email %></dd>

  <dt>Contributer since:</dt>
  <dd><%= @current_user.created_at %></dd>


</dl>
